PORT=3000
CLIENT_URL=https://izisono-com.onrender.com
PUBLIC_APP_URL=https://izisono-com.onrender.com
MUSIC_PROVIDER=mureka
MUREKA_API_KEY=op_apykugrktuelek8t4klfl9qv0ryf9mpuv
MUREKA_MODEL=auto
SUPABASE_URL=https://cezxykekfgoflwszzkwb.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_UymzoZRfeD20f1w_Q9mVRA_t2yK0hcU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlenh5a2VrZmdvZmx3c3p6a3diIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODY4ODIwMiwiZXhwIjoyMTA0MjY0MjAyfQ.vXXvl4fvMCPnpdUDmzXRYo5Zj-IFJ9KmNR0jWu3yv2c
PAYDUNYA_MODE=live
PAYDUNYA_MASTER_KEY=Lhjt6302-c3vd-bSo2-GhHS-CXIdSupKasPC
PAYDUNYA_PRIVATE_KEY=live_private_Zy7KQWW560P9U1176DE2oENjtYu
PAYDUNYA_TOKEN=4UJeORtVN78gSA2WpIO9
DISPLAY_ZAR_PER_XOF=0.02845
